html {
  color-scheme: light dark;
  font-family: system-ui;
}

  
  .title {
	font-family:
	  Greycliff CF,
	  var(--mantine-font-family);
	font-weight: 700;
  }
  
  .gameGrid .word:nth-child(1) {
	grid-row: span 4;
  background-color: palegreen;
  }