@use "sass:map";
$borderSize: 10px;

$blue-light: #BEDEFC;
$blue-dark: #A9C4FD;
$green-light: #c3face;
$green-dark: #A1E0AF;
$pink-light: #FCDCE5;
$pink-dark: #FFC1CF;
$yellow-light: #FFDD99;
$yellow-dark: #FFC145;

$cNeutral: #EBEBEB;
$c1: ("light": $blue-light, "dark": $blue-dark);
$c2: ("light": $green-light, "dark": $green-dark);
$c3: ("light": $pink-light, "dark": $pink-dark);
$c4: ("light": $yellow-light, "dark": $yellow-dark);

$backgroundsMap : (
	cNeutral: $cNeutral,
	c1: map.get($c1, "light"),
	c2: map.get($c2, "light"),
	c3: map.get($c3, "light"),
	c4: map.get($c4, "light"),
);

$rainbowOptions : (
	c1: map.get($c1, "light"),
	c2: map.get($c2, "light"),
	c3: map.get($c3, "light"),
	c4: map.get($c4, "light"),
);

$borderShade: "dark";

$bordersMap : (
	c1: map.get($c1, $borderShade),
	c2: map.get($c2, $borderShade),
	c3: map.get($c3, $borderShade),	
	c4: map.get($c4, $borderShade),
);

@mixin rainbowBorder($color) {
	border: $borderSize dashed transparent;
	padding: 15px;
	$colorType: "dark";
	background: 
	  linear-gradient(to bottom right, $color 0%, $color 100%) padding-box center center no-repeat,
	  linear-gradient(to bottom right, map.get($c1, $colorType) 0%, map.get($c2, $colorType) 25%, map.get($c3, $colorType) 50%, map.get($c4, $colorType) 75%, map.get($c1, $colorType) 100%) border-box top left no-repeat;
	  border-radius: 20px;
}

.draggable {
	border-radius: $borderSize;
	background-color: $cNeutral;
	//border: $borderSize solid $cNeutral;
}

.draggable {
	border: none;
}

@each $name, $color in $bordersMap {
  .#{$name} {
	border: $borderSize dashed $color;
  }
}

@each $name, $color in $backgroundsMap {
  .locked-#{$name}, .locked-cRainbow.rainbow-with-#{$name} {
    background-color: $color;
	// &.cNeutral{
	// 	border: $borderSize solid $color;
	// }
	//border: none;
	//border: $borderSize solid $color;
  }
  .answer.#{$name} {
	background-color: $color;
	border: none;
}
}


$bg1: map.get($c1, "light");
$bg2: map.get($c2, "light");
$bg3: map.get($c3, "light");
$bg4: map.get($c4, "light");


@mixin gradient($keys...) {
	background: conic-gradient(
		$keys...,
		nth($keys, -1) 0deg,
		);
  }  

//   .rainbow-with-c1 {
// 	@include gradient($bg1);
//   }
//   .rainbow-with-c2 {
// 	@include gradient($bg2);
//   }
//   .rainbow-with-c3 {
// 	@include gradient($bg3);
//   }
//   .rainbow-with-c4 {
// 	@include gradient($bg4);
//   }
  
  .rainbow-with-c1.rainbow-with-c2 {
	@include gradient($bg1, $bg2);
  }
  .rainbow-with-c1.rainbow-with-c3 {
	@include gradient($bg1, $bg3);
  }
  .rainbow-with-c1.rainbow-with-c4 {
	@include gradient($bg1, $bg4);
  }
  .rainbow-with-c2.rainbow-with-c3 {
	@include gradient($bg2, $bg3);
  }
  .rainbow-with-c2.rainbow-with-c4 {
	@include gradient($bg2, $bg4);
  }
  .rainbow-with-c3.rainbow-with-c4 {
	@include gradient($bg3, $bg4);
  }
  .rainbow-with-c1.rainbow-with-c2.rainbow-with-c3 {
	@include gradient($bg1, $bg2, $bg3);
  }
  .rainbow-with-c1.rainbow-with-c2.rainbow-with-c4 {
	@include gradient($bg1, $bg2, $bg4);
  }
  .rainbow-with-c1.rainbow-with-c3.rainbow-with-c4 {
	@include gradient($bg1, $bg3, $bg4);
  }
  .rainbow-with-c2.rainbow-with-c3.rainbow-with-c4 {
	@include gradient($bg2, $bg3, $bg4);
  }
  .rainbow-with-c1.rainbow-with-c2.rainbow-with-c3.rainbow-with-c4 {
	@include gradient($bg1, $bg2, $bg3, $bg4);
  }