$purple: rgb(232 121 249);
$blue: rgb(96 165 250);
$green: rgb(94 234 212);
$pink: #FFC1CF;
$yellow: #E8FFB7;

$cNeutral: #F2F2F2;
$c1: #FFC1CF;
$c2: #E879F9;
$c3: #B7FFD8;
$c4: #C4F5FC;


$animationtime: 45s;
$length: 25;

@mixin rainbowBorder($color) {
	border: 10px dashed transparent;
	padding: 15px;
	background: 
		linear-gradient(to bottom right, $color 0%, $color 100%) padding-box center center no-repeat,
	  linear-gradient(to bottom right, $purple 0%, $pink 25%, $yellow 50%, $green 75%, $blue 100%) border-box top left no-repeat;
	  border-radius: 20px;
}

.cRainbow {
	@include rainbowBorder($cNeutral);
}

.cRainbowc1 {
	@include rainbowBorder($c1);
}
.cRainbowc2 {
	@include rainbowBorder($c2);
}
.cRainbowc3 {
	@include rainbowBorder($c3);
}
.cRainbowc4 {
	@include rainbowBorder($c4);
}
.cRainbowcNeutral {
	@include rainbowBorder($cNeutral);
}



.cRainbow-locked{
	text-shadow: 3px 3px 10px rgba(255,255,255,.8);
	&:before, &:after {
	  position: absolute;
	  //border-radius: 10em;
	  //transform: translateX(-50%) translateY(-50%);
	  width: 100%;
	  height: 100%;
	  content: '';
	  z-index: -1;
	  background-size: 400% 400%;
	  background: linear-gradient(50deg, #B7FFD8, #E8FFB7, #FFC1CF, #C4F5FC);
	}
	&:before {
	  filter: blur(7px);
	  transition: all .25s ease;
	  animation: pulse 10s infinite ease;
	}
	&:after {
	  filter: blur(0.3px);
	}
  
}
@keyframes slide {
	from {
		right: -25vw;
	}
	to {
		right: 125vw;
	}
}

.h {
	box-shadow: 0 0 50vh 40vh white;
	width: 100vw;
	height: 0;
	bottom: 0;
	left: 0;
	position: absolute;
}
.v {
	box-shadow: 0 0 35vw 25vw white;
	width: 0;
	height: 100vh;
	bottom: 0;
	left: 0;
	position: absolute;
}

// DESCRIPTION (delete me if needed)
.description-container {
	position: absolute;
	bottom: 32px;
	left: 32px;
	text-align: left;
	letter-spacing: 3px;
	.title {
		font-size: 19px;
		font-weight: 500;
		color: black;
		text-transform: uppercase;
	}
	.subtitle {
		margin-top: 6px;
		font-size: 26px;
		font-weight: 500;
		color: black;
		text-transform: uppercase;
	}
}
